@whenthen:registry=https://gitlab.com/api/v4/packages/npm/

//gitlab.com/api/v4/projects/28969144/packages/npm/:_authToken=glpat-Lt3sboPNkGm8MaEziy5t
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-Lt3sboPNkGm8MaEziy5t